html {
  scroll-behavior: smooth;
}
/**Sets pop-up winodw to max size in chrome extensions. For every html page*/
body {
  min-height: 600px;
  min-width: 400px;
}

/*Adds a margin for every html since its default is close to the window's edges*/
#mainMenu,
#mainInfo {
  margin: 10px;
}

/**Popup.html*/
#mainPageTitle {
  margin-top: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

button {
  padding: 5px;
  margin: 20px;
  align-content: center;
}

#mainPicture {
  height: 200px;
  width: 400px;
  text-align: center;
}

#mainMenu {
  font-family: "Montserrat";
}

.infoCheck-topics {
  margin-left: 10px;
}

/**Styles for the info.html file.*/

#mainInfo {
  font-family: "Montserrat";
}

#infoPage {
  font-size: larger;
  text-align: left;
  color: black;
  text-decoration-line: none;
}

img {
  width: 400px;
  height: 200px;
}

#wordFound {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#wordTitle {
  font-size: 15px;
}

#sources p {
  font-size: 10px;
  margin-left: 2px;
  text-decoration-line: none;
}

#sources {
  display: flex;
  margin-bottom: 1px;
}
